@use "main-variables" as *;

.page-footer {
  padding-top: 25px;
  background-color: #ffffff;
  border-top: 1px solid $unnamed-color;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .line {
      height: 145px;
      width: 1px;
      margin: 0 10px;
      background-color: #b58617;
      @media screen and (max-width: 767px) {
        & {
          display: none;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      & {
        justify-content: center;
      }
    }
    .box {
      margin: 0 15px;
      ul {
        padding: inherit;
      }
    }
    img {
      width: 200px;
    }
    .contact {
      position: relative;
      direction: rtl;
      .icons {
        display: flex;
        justify-content: flex-start;
        color: $unnamed-color;
        font-size: 12px;
        i {
          padding: 0 5px;
        }
      }
      ul {
        li {
          padding: 3px 0;
          &:nth-child(1) {
            a {
              color: $unnamed-color;
              font-weight: $font-weight-bold;
              font-size: 12px;
            }
          }
          &:nth-child(2) {
            color: #656565;
            font-size: 12px;
          }
          &:nth-child(3) {
            a {
              color: #656565;
              font-size: 12px;
            }
          }
        }
      }
    }
    .currency {
      .btn {
        color: $unnamed-color;
        background-color: transparent;
        border: none;
      }
      .dropdown-menu {
        min-width: fit-content !important;
        hr {
          padding: 0;
          margin: 0;
        }
        a {
          color: $unnamed-color;
          font-size: 12px;
        }
      }
    }
    .accounts {
      text-align: center;
      h3 {
        color: $unnamed-color;
        font-size: 18px;
        font-weight: $font-weight-bold;
        margin: 0;
      }
      ul {
        li {
          padding: 5px 0;
          a {
            color: #949498;
            font-size: 15px;
          }
        }
      }
    }
    .addons {
      text-align: center;
      h3 {
        color: $unnamed-color;
        font-size: 18px;
        font-weight: $font-weight-bold;
        margin: 0;
      }
      ul {
        li {
          padding: 5px 0;
          a {
            color: #949498;
            font-size: 15px;
          }
        }
      }
    }
    .infos {
      text-align: center;
      h3 {
        color: $unnamed-color;
        font-size: 18px;
        font-weight: $font-weight-bold;
        margin: 0;
      }
      ul {
        li {
          padding: 5px 0;
          a {
            color: #949498;
            font-size: 15px;
          }
        }
      }
    }
    .sponsors {
      display: grid;
      grid-auto-flow: row;
      gap: 15px;
    }
  }
  .copywrite {
    background-color: $unnamed-color;
    .container {
      justify-content: end;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 12px;
      text-align: end;
      color: white;
      direction: rtl;
    }
  }
}
