$background-color: #fafafa;
$main-color: #ffffff;
$drop-shadow: #00000029;
$unnamed-color: #518432;
$placeholder-color: #929191;
$gold-color: #b58617;
$main-font: "Almarai", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
