@use "../../default/main-variables" as *;

.main-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
  .main-content {
    background-color: $main-color;
    text-align: center;
    box-shadow: 0px 3px 15px $drop-shadow;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 700px;
    @media screen and (max-width: 767px) {
      & {
        width: fit-content;
        height: fit-content;
      }
    }
    @media all and (max-width: 959px) and (orientation: landscape) {
      & {
        margin-top: calc(90px + 25%);
      }
    }
  }
  .content {
    padding: 25px;
    width: fit-content;
  }
  h2 {
    font-size: 25px;
    padding-bottom: 20px;
    color: $unnamed-color;
    font-weight: $font-weight-bold;
    font-family: $main-font;
  }
  .input-field {
    display: flex;
    flex-direction: column;
    width: 315px;
    gap: 15px;
  }
  input {
    padding: 8px 15px;
    direction: rtl;
    border: 2px solid $unnamed-color;
    border-radius: 6px;
    &::placeholder {
      color: $placeholder-color;
      font-size: 12px;
    }
  }
  a {
    display: block;
    width: 100%;
    text-align: end;
    padding: 10px 0;
    font-family: $main-font;
    font-weight: $font-weight-regular;
    color: #272727;
    font-size: 15px;
  }
  span {
    display: block;
    text-align: end;
    font-family: $main-font;
    font-size: 15px;
    a {
      display: inline;
      color: $unnamed-color;
      font-family: $main-font;
      width: fit-content;
      padding: 0;
      margin: 10px 0;
    }
  }
  input[type="submit"] {
    width: 90%;
    margin: 30px 0;
    background-color: $unnamed-color;
    color: white;
    border-radius: 8px;
    font-family: $main-font;
    font-weight: $font-weight-bold;
    border: none;
    transition: 0.3s;
    &:hover {
      background-color: #232921;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
  .login-with {
    a {
      margin: 10px 0;
      padding: 0;
    }
    .fb-login {
      background-color: #3b5696;
      width: 100%;
      height: 40px;
      border-radius: 6px;
      position: relative;
      box-shadow: 0px 3px 15px #00000029;
      img {
        width: 20px;
        position: absolute;
        right: 20px;
        bottom: 8px;
      }
      p {
        direction: rtl;
        bottom: -3px;
        direction: rtl;
        color: white;
        position: absolute;
        right: 4rem;
        font-size: 10px;
      }
    }
    .gmail-login {
      background-color: #f7f7f7;
      width: 100%;
      height: 40px;
      border-radius: 6px;
      position: relative;
      box-shadow: 0px 3px 15px #00000029;
      img {
        width: 20px;
        position: absolute;
        right: 20px;
        bottom: 8px;
      }
      p {
        direction: rtl;
        bottom: -5px;
        direction: rtl;
        color: #272727;
        position: absolute;
        right: 4rem;
        font-size: 10px;
      }
    }
  }
}
